<!-- Header -->
<header class="template-header">
    <div class="header-wrapper">
        <div class="header-companyname">
            {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
        </div>
        <div class="header-extendednavigation">
            {{widget('extendednavigation', 'extendednavigation', {"align":"right"})|raw}}
        </div>
        <div class="header-basket">
            {{widget('ecombasket', 'shopbasket', {})|raw}}
        </div>
    </div>
</header>

<header class="template-header">
    <div class="header-wrapper">
        <div class="widgetprofile-left">
            {{widget('content', 'header-text', {})|raw}}
        </div>
        <div class="widgetprofile-right">
            {{widget('profile', 'footerprofilesocialicons', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
        </div>
    </div>
</header>

<!-- End Header -->
